<section class="github">
  <div class="container-fluid">
    <div class="row header-click">
      <div class="col-md-8 col-md-offset-2 header">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            Github
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-sm-12 col-md-6 stats">
            <div>

              <h3><span class="mega-octicon octicon-mark-github"></span></span><%= link_to @github.user.login, @github.user.url %></h3>
            </div>
            <div>
              <b><%= @github.user.followers %></b> followers ·
              <b><%= @github.user.following %></b> following
            </div>
            <div>
              <b><%= @github.user.public_repos %></b> public repos ·
              <b><%= @github.user.public_gists %></b> public gist
            </div>
            <div>
              Joined <%= formatted_date(@github.user.created_at) %>
            </div>
            <div class="">
              <h3><span class="mega-octicon octicon-repo"></span>Recent Repos</h3>
              <ul>
                <% @github.recent_repos.each do |repo| %>
                  <li><%= link_to repo.name, repo.html_url %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-0 graph-language">
            <div id="graph"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

