<section class="projects">
  <div class="container-fluid">
    <div class="row header-click">
      <div class="col-md-8 col-md-offset-2 header">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            Work
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <%= render 'projects/siftlocal' %>
          <%= render 'projects/cirrusmd' %>
          <%= render 'projects/oppenheimer' %>
          <%= render 'projects/nile' %>
          <%= render 'projects/sound_locale' %>
          <%= render 'projects/rantly' %>
        </div>
      </div>
    </div>
  </div>
</section>
