<section class="top">
  <div class="header">
    <h1>Ian Knox</h1>

    <div>
      <span>Developer</span>
    </div>
    <div>
      <span>Denver CO</span>
    </div>
    <div class="project-button">
      <%= link_to 'Projects', '#' %>
    </div>
    <div>
      <%= link_to 'Linkedin', 'http://lnkd.in/DiAN7H' %>
    </div>
    <div class="github-button">
      <%= link_to 'Github', '#' %>
    </div>
    <div>
      <%= link_to 'Twitter', 'http://www.twitter.com/idknox' %>
    </div>
  </div>
  <div id="back-top">back to top</div>
  <div id="quicklinks">
    <span>P</span>
    <%= fa_icon 'github', class: 'github-button' %>
    <%= fa_icon 'twitter', class: 'twitter-button' %>
  </div>
</section>
<section class="projects">
  <div class="title">
    <h2>Projects</h2>
  </div>
  <div class="left project">
    <div class="content">
      <h3>Sound Locale</h3>

      <p>coming soon</p>
    </div>
    <span class="opener"><%= fa_icon 'chevron-right' %></span>
  </div>
  <div class="right project">
    <div class="content">
      <h3>Rantly</h3>

      <p>Coming soon</p>
    </div>
    <span class="opener"><%= fa_icon 'chevron-left' %></span>
  </div>
</section>
<section class="github">
  <div class="title">
    <h2>Github</h2>

    <div class="sub">
      <h3><%= link_to 'idknox', 'http://www.github.com/idknox' %></h3>
    </div>
  </div>
  <div>
    <div>
    </div>
  </div>
</section>
<!--<section class="twitter">-->
  <!--<div class="title">-->
    <!--<h2>Twitter</h2>-->
  <!--</div>-->
<!--</section>-->