<div class=" hidden-xs menu-border">
  &nbsp;
</div>
<div class="menu">
  <%= link_to (fa_icon 'linkedin'), 'http://lnkd.in/DiAN7H' %>
  <%= link_to (fa_icon 'twitter'), 'http://www.twitter.com/idknox' %>
  <%= link_to (fa_icon 'github'), '#', class: 'github-button' %>
  <%= link_to '#' do %>
    <i class="projects-button">p</i>
  <% end %>
</div>
<section class="top">
  <div class="container-fluid title-container">
    <div class="row">
      <div class=" col-xs-offset-1 col-xs-8 col-md-10 col-md-offset-1">
        <div class="row">
          <div class="title col-md-8">
            <h1 class="">Ian</h1>

            <h1 class="">Knox</h1>
          </div>
          <div class="col-md-3 profile-picture">
          </div>
        </div>
        <div class="row subtitle">
          <div class="left">Developer</div>
          <div class="right">Denver CO</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="projects">
  <div class="header">
    <div class="col-xs-offset-1 col-md-offset-1">
      Projects
    </div>
  </div>
  <div class="col-xs-offset-1 col-md-offset-1 content">
    <div class="row">
      <div class="col-md-5 project">
        <h2 class="project-title">
          Telespine
        </h2>

        <h3>Digital Health App</h3>

        <div class="site">
          <%= link_to '#' do %>
            <%= image_tag 'telespine-small.png' %>
          <% end %>
        </div>
        <div class="detail">
          <ul>
            <li>Django, Django Rest Framework</li>
            <li>Angular</li>
            <li>Opentok</li>
            <li>FulLCalendar</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1 project">
        <h2 class="project-title">
          Rantly
        </h2>

        <h3>Twitter-like App</h3>

        <div class="site">
          <%= link_to '#', class: '' do %>
            <%= image_tag 'rantly-small.png' %>
          <% end %>
        </div>
        <div class="detail">
          <ul>
            <li>Rails</li>
            <li>Custom JS</li>
            <li>Keen.io Analytics</li>
            <li><%= link_to 'Pivotal Tracker Specs', 'https://www.pivotaltracker.com/n/projects/1148198' %></li>
          </ul>
          <div class="links">
            <div class="link">
              <%= link_to (fa_icon 'globe'), 'http://ian-rantly.herokuapp.com' %>
              <div class="link">
                <%= link_to (fa_icon 'github'), 'http://www.github.com/idknox/rantly' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 project">
        <h2 class="project-title">
          Sound Locale
        </h2>

        <h3>Denver Concert Aggregator</h3>

        <div class="site">
          <%= link_to '#', class: 'site-image' do %>
            <%= image_tag 'rantly-small.png' %>
          <% end %>
        </div>
        <div class="detail">
          <ul>
            <li>Rails</li>
            <li>Custom JS</li>
            <li>Google Maps, Ticketfly, Stubhub</li>
            <li>Kimono Labs</li>
          </ul>
          <div class="links">
            <div class="link">
              <%= link_to (fa_icon 'globe'), 'http://www.sound-locale.com' %>
              <div class="link">
                <%= link_to (fa_icon 'github'), 'http://www.github.com/idknox/sound_locale_rails' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="github">
  <div class="header">
    <div class="col-xs-offset-3 col-md-offset-1">
      Github
    </div>
  </div>
  <div class="col-md-offset-1">
    Coming Soon
  </div>
  <!--<div>-->
  <!--<div>-->
  <!--Recently Updated Repos:-->
  <!--
  <% @github_data.updated_repos.each do |repo| %>-->
    <!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-1">-->
    <!--<%= repo['name'] %>-->
    <!--</div>-->
    <!--</div>-->
    <!--
  <% end %>-->
  <!--</div>-->
  <!--<div>-->
  <!--Totel Repos:-->
  <!--<%= @github_data.user_data['public_repos  '] %>-->
  <!--</div>-->
  <!--</div>-->
</section>
<!--<section class="twitter">-->
<!--<div class="title">-->
<!--<h2>Twitter</h2>-->
<!--</div>-->
<!--</section>-->