<!DOCTYPE html>
<html>
<head>
  <title>Ian Knox</title>
  <meta name="author" content="Ian Knox, LLC">
  <meta name="Keywords" content="Denver, Colorado, Ian, Knox, Rails, Ruby, Python, Django, CSS, HTML, Javascript, Angular, Galvanize, gSchool, developer, software, engineer, bikes, bike, bicycle, bicycles, music, electronic, edm">
  <meta name="Description" content="Personal Website of Ian Knox, Denver Area Software Developer">
  <meta name="generator" content="Rails 4, Deployed via Heroku">
  <link rel="image_src" href="profile.jpg"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>
</head>
<body>
<%= yield %>
</body>
</html>
